<!DOCTYPE html>
<html lang="en">
<head>
  <title>Password Vault</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Password Vault</h2>
       <table class="table table-hover">
    <thead>
      <tr>
        <th>Account</th>
        <th>Username</th>
        <th>Password</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
    <% for(var i = 0;i < (undefined !== data && data.length);i++) { %>
      <tr>
        <td><%=data[i].accname%></td>
        <td><%=data[i].accid%></td>
       <%const cryptr1 = new cryptr('noob'); 
       const decryptedString = cryptr1.decrypt(data[i].accpass);%>
        <td><%=decryptedString%></td>
        <td><%=data[i].accurl%></td>
      </tr>
     <% }
     %>
    </tbody>
  </table>
   <div class="card-footer">
       <a href="/addEntry" class="btn btn-primary">Add Account</a>
   
           <a href="/profile" class="btn btn-primary" style= "margin:0px 20px 0 20px;">Home</a>
            </div> 
  </diV>           
</div>

</body>
</html>
